<nav class="navbar navbar-default navbar-inverse navbar-expand-lg navbar-fixed-top navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><b>ppw-ichlasulaffan</b></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% if user_login %}<li><a href="{% url 'lab-10:dashboard' %}">Dashboard</a></li>{% endif %}
        <li><a href="{% url 'lab-10:movie_list' %}">Search Movie</a></li>
        <li><a href="{% url 'lab-10:list_watch_later' %}">Watch Later</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Apps <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'lab-1:index' %}">Lab 1: Sandbox</a></li>
            <li><a href="{% url 'lab-2:index' %}">Lab 2: Landing Page</a></li>
            <li><a href="{% url 'lab-3:index' %}">Lab 3: Diary</a></li>
            <li><a href="{% url 'lab-4:index' %}">Lab 4: Portofolio</a></li>
            <li><a href="{% url 'lab-5:index' %}">Lab 5: TODOLIST</a></li>
            <li><a href="{% url 'lab-6:index' %}">Lab 6: Chat n Calc</a></li>
            <li><a href="{% url 'lab-7:index' %}">Lab 7: FasilkomFriends</a></li>
            <li><a href="{% url 'lab-8:index' %}">Lab 8: Mini Facebook</a></li>
            <li><a href="{% url 'lab-8:index' %}">Lab 9: Electron Shop</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id="nav-log">
        {% if user_login %}
          <li><a id="nav-user">{{user_login}}</a></li>
          <li><a id="logout" href='{% url "auth_logout" %}' style='background:#800'>Logout</a></li>
        {% else %}
          <li><a id="nav-user">Anonymous</a></li>
          <li><a id="login" href='{% url "lab-10:index" %}' style='background:#080'>Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>