{% extends "base.html" %}
{% load staticfiles %}
{% block meta %}
    <meta name="description" content="LAB 6">
    <meta name="author" content="{{author}}">
{% endblock %}
{% block title %} Lab 6 By {{author}} {% endblock %}
{% block stylescript %}
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
{% endblock %}
{% block stylescript_app %}<link rel="stylesheet" type="text/css" href="{% static 'css/lab_6.css' %}" />{% endblock %}
{% block header %}{% include "lab_6/partials/header.html" %}{% endblock %}
{% block footer %}{% include "lab_5/partials/footer.html" %}{% endblock %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
{% block scripts_app %}<script src="{% static 'js/lab_6.js' %}"></script>{% endblock %}