{% extends "base.html" %}
{% load staticfiles %}
{% block meta %}
    <meta name="description" content="LAB 6">
    <meta name="author" content="{{author}}">
{% endblock %}
{% block title %} Lab 6 By {{author}} {% endblock %}
{% block stylescript %}
    <link href="{% static 'css/bootstrap-3.3.7.min.css' %}" rel="stylesheet">
{% endblock %}
{% block stylescript_app %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link href="{% static 'css/select2-4.0.6rc0.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/qunit-git.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab_6.css' %}" />
{% endblock %}
{% block header %}{% include "lab_6/partials/header.html" %}{% endblock %}
{% block footer %}{% include "lab_5/partials/footer.html" %}{% endblock %}
{% block scripts %}
    <script type=application/javascript src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/bootstrap-3.3.7.min.js' %}"></script>
    <script src="{% static 'js/select2-4.0.6rc0.min.js' %}"></script>
{% endblock %}
{% block scripts_app %}
    <script src="{% static 'js/lab_6.js' %}"></script>
    <script src="{% static 'js/qunit-git.min.js' %}"></script>
{% endblock %}