{% extends "lab_10/layout/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="pull-right text-right">
                <a href="{% url 'lab-10:list_watch_later' %}" class="btn btn-primary btn-sm" style="margin-bottom:2px;font">Watch Later Playlist</a><br/>
                {% if user_login %}<a href="{% url 'lab-10:dashboard' %}" class="btn btn-primary btn-sm" style="margin-top:2px">Dashboard</a>{% endif %}
            </div>
            <h2>Movie List</h2>
        </div>
        <div class="panel-body">
            <div style="margin:20px; padding:20px; background-color:lightsteelblue; border-radius:3px;">
                <form method="GET" action="{% url 'lab-10:movie_list' %}" class="form-inline">
                    <label>Title</label> <input type="text" class="form-control" name="judul" placeholder="Movie Title"
                                                value="{{judul}}">
                    <label>Year</label> <input type="text" class="form-control" name="tahun" placeholder="Release Year"
                                                value="{{tahun}}">
                    <input type="submit" class="btn btn-primary btn-sm pull-right" style="margin:4px 0">
                    <br>
                </form>
            </div>
            <hr>
            <div class="table table-responsive">
                <table class="table table-hover" id="myTable" style="width:none;">
                    <thead>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Poster</th>
                    <th>Detail</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts_page %}
<script type="text/javascript">
    $(document).ready(function (e) {
        $('#myTable').DataTable({
            "ajax": {
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "url": {% autoescape off %} {{ jsonUrlDT }} {% endautoescape %},
                "dataSrc": "dataku",
            },
            "columns" : [
                { "data": "Title" },
                { "data": "Year" },
                {
                    "data": "Poster",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        if (oData.Poster == "N/A") {
                            $(nTd).html("<img src='" + 'https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF' + "' style='height:50%' class='img-responsive img-thumbnail'/>");
                        } else {
                            $(nTd).html("<img src='" + oData.Poster + "' style='height:50%' class='img-responsive img-thumbnail'/>");
                        }
                    }
                },
                {
                    "data": null,
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).html("<a href='/lab-10/movie/detail/" + oData.imdbID + "' class='btn btn-primary btn-xs'>Detail</a>");
                    }
                }
            ]
        });
    });
</script>
{% endblock %}