{% extends "lab_10/layout/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="pull-right text-right">
                <a href="{% url 'lab-10:movie_list' %}" class="btn btn-primary btn-sm" style="margin-bottom:2px">Movie Search</a><br/>
                {% if user_login %}<a href="{% url 'lab-10:dashboard' %}" class="btn btn-primary btn-sm" style="margin-top:2px">Dashboard</a>{% endif %}
            </div>
            <h2>Movies to Watch Later</h2>
        </div>
        <div class="panel-body">
                <table class="table table-hover" id="myTable" style="width: none;">
                    <thead>
                    <tr>
                    <th style="text-align: center">Title</th>
                    <th style="text-align: center">Poster</th>
                    <th style="text-align: center">Detail</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if watch_later_movies %}
                            {% for movie in watch_later_movies %}
                            <tr>
                                <td>{{movie.title}}</td>
                                <td>
                                    {% if movie.poster|stringformat:"s" == "b'N/A'" %}
                                    <img class="poster" src="{% static '/img/lab_10_poster_notfound.jpg' %}"/>
                                    {% else %}
                                    <img class="poster" src="{{movie.poster}}"/>
                                    {% endif %}
                                </td>
                                <td style="text-align:center"><a href='/lab-10/movie/detail/{{movie.imdbid}}' class='btn btn-primary btn-xs'>Detail</a></td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <td colspan=3 style="text-align:center"><i>You have no movies to watch later.</i></td>
                        {% endif %}
                    </tbody>
                </table>
        </div>
    </div>
</div>
{% endblock %}