#main-panel-heading {
    padding-top: 50px;
}

.rata-tengah {
    text-align: center;
}

.panel-body,
.panel-body hr {
    color: #000;
}

.panel-body hr {
    background: #000;
}

.nav-tabs li {
    background: #444;
    border-radius: 4px 4px 0 0;
    margin: 0 1px;
}

.fav {
    padding: 5px;
    font-size: 11px !important;
}

.table {
    margin: 0;
}

#profile-panel {
    padding: 0;
}

.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin-top: 70px;
    height: 100%;
    padding-bottom: 30px;
}

.poster {
    margin: 0px auto;
    display: block;
}

footer p {
    text-align: center;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0%;
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: left;
}

td {
    width: 50px;
}

/* W3 Turquise Theme*/
.w3-theme-l5 {
    color: #000 !important;
    background-color: #f4fbfa !important
}

.w3-theme-l4 {
    color: #000 !important;
    background-color: #daf1ef !important
}

.w3-theme-l3 {
    color: #000 !important;
    background-color: #b5e3de !important
}

.w3-theme-l2 {
    color: #000 !important;
    background-color: #90d5ce !important
}

.w3-theme-l1 {
    color: #000 !important;
    background-color: #6bc7be !important
}

.w3-theme-d1 {
    color: #fff !important;
    background-color: #3fa69c !important
}

.w3-theme-d2 {
    color: #fff !important;
    background-color: #38948b !important
}

.w3-theme-d3 {
    color: #fff !important;
    background-color: #318179 !important
}

.w3-theme-d4 {
    color: #fff !important;
    background-color: #2a6f68 !important
}

.w3-theme-d5 {
    color: #fff !important;
    background-color: #235c57 !important
}

.w3-theme-light {
    color: #000 !important;
    background-color: #f4fbfa !important
}

.w3-theme-dark {
    color: #fff !important;
    background-color: #235c57 !important
}

.w3-theme-action {
    color: #fff !important;
    background-color: #235c57 !important
}

.w3-theme {
    color: #fff !important;
    background-color: #45b8ac !important
}

.w3-text-theme {
    color: #45b8ac !important
}

.w3-border-theme {
    border-color: #45b8ac !important
}

.w3-hover-theme:hover {
    color: #fff !important;
    background-color: #45b8ac !important
}

.w3-hover-text-theme {
    color: #45b8ac !important
}

.w3-hover-border-theme:hover {
    border-color: #45b8ac !important
}

/* Responsive */

@media only screen and (max-width:500px) {
    p,
    table,
    .table {
        font-size: 12px !important
    }
    .panel-body {
        padding: 5px
    }
    .poster {
        width:200px;
    }
}

@media only screen and (max-width:360px) {
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        padding: 5px!important
    }
    p,
    table,
    .table {
        font-size: 11px !important
    }
    .poster {
        width:100px;
    }
}