{% extends "base.html" %}
{% load staticfiles %}
{% block meta %}
	<meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
{% endblock %}
{% block title %} Lab 4 By {{author}}{% endblock %}
{% block stylescript %}
	<!-- bootstrap css -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block header %}{% include "lab_4/partials/header.html" %}{% endblock %}
{% block footer %}{% include "lab_4/partials/footer.html" %}{% endblock %}
{% block scripts %}
    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}