{% extends "lab_4/layout/base.html" %}
{% block title %}Kumpulan Pesan{% endblock %}
{% block style %}
	table {
		font-size: 12px;
		table-layout:fixed;
		width:100%;
	}
	.name {
		width: 20%;
	}
	.email {
		width: 20%;
	}
	.time {
		width: 90px;
	}
	.title {
		margin-bottom: 10px;
	}
{% endblock %}
{% block content %}
<!--  Populate semua isi pesan dari model -->
<div class="title">Here are the messages: </div>
<table class="table">
	<thead>
		<th class="name">Name</th>
		<th class="email">Email</th>
		<th class="message">Message</th>
		<th class="time">Added at</th>
	</thead>
	<tbody>
		{% if message %}
			<!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
			{% for i in message %}
			{% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
			<tr class="warning"> {% else %} <tr class="success">
				{% endif %}
				<td class="name"> {{i.name}} </td>
				<td class="email"> {{i.email}} </td>
				<td class="message"> {{i.message}} </td>
				<td class="time"> {{i.created_date.time}} </td>
			</tr>             
			{% endfor %}
		{% else %}
			<tr class="warning">
				<td colspan=4 style="text-align:center"><i>No messages yet.</i></td>
			</tr>
		{% endif %}
	</tbody>
</table>
{% endblock %}