{% extends "lab_9/layout/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="panel panel-default container" id="profile-panel">
    <div class="panel-heading" id="main-panel-heading">
        <h2> [Cookie] Profile </h2>
    </div>
    <div class="panel-body">
        <p> Username : {{request.COOKIES.user_login}} </p>
    </div>
    <div class="panel-footer">
        <a href="{% url 'lab-9:cookie_clear' %}" class="btn btn-danger" onclick="return confirm('Keluar?')"> Reset Cookies (Logout) </a>
    </div>
</div>
{% endblock %}
{% block scripts_page %}
    <script>
        $(document).ready(function() {
            $('#nav-user').html('[COOKIE] {{request.COOKIES.user_login}}');
            $('#logout').html('Reset Cookie (Logout)')
            $('#logout').attr('href','{% url "lab-9:cookie_clear" %}');
            $('#logout').attr('onclick', "return confirm('Keluar?')");
        });
    </script>
{% endblock %}
{% block footer %}
<p class="copyright">
    {% if request.COOKIES.user_login %}Currently logged in (cookies, custom): {{request.COOKIES.user_login}}{% else %}&copy; 2017 Ichlasul Affan.{% endif %}<br/>
    {% if user_login %}Currently logged in (session, CSUI): {{user_login}}{% endif %}
</p>
{% endblock %}