{% extends "base.html" %}
{% block style %}
	@font-face {
		font-family: Agency FB;
		src: url('/static/fonts/AgencyFB-Regular-webfont.woff')
	}
	h1 {
		padding: 10px;
		text-align: center;
		font-family: Agency FB;
	}
	#newActivityForm {
		margin: 10px;
		background-color:rgba(224,255,255,0.7);
		font-size:12px;
	}
	#newActivityFormInner {
		border-radius: 5px;
		border-style: groove;
		border-width: 2px;
		padding: 5px;
	}
	#activityList {
		font-size: 12px;
		margin: 10px;
		left: 0;
		right: 0;
		background-color: rgba(224,255,255,0.7);
	}
	#activityListInner {
		border-radius: 5px;
		border-style: groove;
		border-width: 2px;
		padding: 10px;
	}
	table {
		table-layout:fixed;
		width:100%;
	}
{% endblock %}
{% block content %}
<h1>Hi all, this is my daily activities... :)</h3>
<div class="row" id="newActivityForm">
	<div class="col-12" id = "newActivityFormInner">
		<b>Insert your new activity:</b>
		<form method="POST" action="add_activity/">
			{% csrf_token %}
			<div style="display:inline-block;padding:2px;min-width:200px;width:10%;text-align:center">
				Tanggal:
				<input type="datetime-local" name="date" id="date" required="required" style="width:100%"/>
			</div>
			<div style="display:inline-block;padding:2px;min-width:200px;width:80%;text-align:center">
				Kegiatan:
				<input type="text" name="activity" id="activity" style="display:inline-block;width:100%"/>
			</div>
			<div style="display:inline-block;padding:2px;">
				<button type="submit" class="button btn-success">Submit</button>
			</div>
		</form>
	</div>
</div>
<div class="row" id="activityList">
    <div class="col-12" id="activityListInner">
        <b>Here are the activities:</b>
		<table style="">
            <tr>
                <th style="text-align:center;width:180px;">Tanggal</th>
                <th style="text-align:center;padding:2px;">Yang akan dikerjakan</th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td class="date" style="text-align:center">{{ diary_data.date }}</td>
                    <td class="activity" style="padding-left:5px;">{{ diary_data.activity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
