{% extends "base.html" %}
{% block style %}
    .status {
        font-family: "Comic Sans MS";
        text-align: justify;
        text-justify: inter-word;
    }
    .name {
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    }
    .center_screen {
        position: fixed;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
		transform: translate(-50%,-25%);
		vertical-align: middle;
		padding: 5px;
		border-radius: 5px;
		background-color:rgba(224,255,255,0.7);
    }
{% endblock %}
{% block content %}
<div class="center_screen">
    <div class="status" id="test">Hello, this is {{ name }}. {{ content }}.</div>
</div>
{% endblock %}