{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ name }}{% endblock %}
{% block stylescript_app %}<link rel="stylesheet" href="{% static 'css/lab_1.css'%}">{% endblock %}
{% block header %}{% include "lab_1/partials/header.html" %}{% endblock %}
{% block content %}
<div class="container content-out">
	<h1>Hello my name is {{ name }}</h1>
	<div id="story">
		<article>I am {{ age }} years old</article>
		<div id="mainstory"><p><b>I am learning <u>web programming</u> right now.</b> Just let me advance myself through the errors.</p>
		<ul><li>Do you know "Hello World"? That phrase is so common among n00b programmers, and that phrase will always make you feeling nostalgic.<br />
		And that's also happened to me, feeling nostalgic about my old Foundations of Programming labs.</li>
		<li>Now, I must do it again for Web Design and Programming. Yeah, I do it because these words: "Never stop learning, from the day you born till you die."</li>
		<p align="right"><b>-Ichlasul Affan</b></p></div>
	</div>
</div>
{% endblock %}
{% block footer %}{% include "lab_1/partials/footer.html" %}{% endblock %}