<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
	<style type="text/css">
		h1 {text-align:center; font-family:Old English Text MT;}
		div#story {font-size:14px;}
		div#footer {border-style:dashed; border-radius:2px; border-width:1px; width:100%; font-size:10px; text-align:center;}
		article {font-family:Consolas; font-color:red;}
		p {font-family:Segoe UI;}
	</style>
</head>
<body>
    <h1 style="text-align:center" >Hello! My name is {{ name }}.</h1>
	<div id="story">
		<article><b>I am {{ age }} years old.</b></article>
		<p>I am learning <u>web programming</u> right now. Sorry for the "errors".</p>
	</div>
	<div id="footer">
		<article>Specifically made for PPW 2017 lab session, on 02 September 2017.</article>
	</div>
</body>
</html>