{% extends "lab_9/layout/base.html" %}
{% load staticfiles %}
{% block stylescript %}{% endblock %}
{% block stylescript_app %}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <a href="{% url 'lab-9:clear_session_item' 'opticals' %}" class="btn btn-danger pull-right" onclick="return confirm('Reset data?')">
            Reset Favorites
        </a>
        <h2>Optical List: {{opticals | length}}</h2>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <th>No</th>
            <th>Name</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Fav</th>
            </thead>

            <tbody>
            {% for optical in opticals %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{optical.name}}</td>
                <td>{{optical.price}}</td>
                <td>{{optical.quantity}}</td>
                <td>
                    {% if not optical.id in fav_opticals %}
                    <a href="{% url 'lab-9:add_session_item' 'opticals' optical.id %}" class="btn fav btn-primary">Add</a>
                    {% else %}
                    <a href="{%url 'lab-9:del_session_item' 'opticals' optical.id %}" class="btn fav btn-primary">Remove</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %}{% endblock %}
{% block scripts_page %}{% endblock %}