{% extends "lab_6/layout/base.html" %}
{% load staticfiles %}
{% block content %}
    <div id="qunit" style="margin-top:50px" hidden></div>
    <!-- ChatBox Section -->
    <section name="Chatbox" id="chatbox">
        <div class="wrapper">
            <div class="chat-box">
                <div class="chat-head">
                <h2>Chat</h2>
                <img src="{% static 'img/angle_down-16.png' %}" title="Expand Arrow" width="16">
                </div>
                <div class="chat-body">
                <div class="msg-insert">
                </div>
                <div class="chat-text">
                    <textarea class="chat-textarea" style="width:255px" placeholder="Press Enter"></textarea>
                    <button class="chat-button" onClick="sendChat();">Enter</button>
                </div>
            </div>
        </div>
    </section>
    <!-- Calculator Section -->
    <section class="calculator" id="calculator">
        <div class="container">
            <div class="model col-lg-5">
                <div class="container-fluid">
                    <div class="row" id="title">
                        <div class="col calc-title" style="float:left;height:100%">
                            <h1 class="col">CALCULATOR</h1>
                        </div>
                        <div class="col theme" style="float:right;height:100%;vertical-align:middle;padding:10px">
                            Theme:
                            <select class="my-select"></select>
                            <button class="apply-button" style="color:black;padding:2px">Apply</button>
                        </div>
                    </div>
                    <div class="row" id="calcs-section">
                        <div class="row">
                            <input id="print" type="text" readonly="readonly" class="form-control text-right calcs" id="usr" value="0">
                        </div>
                    </div>
                    <!-- Adapted from Tom Howard -->
                    <div class="row" id="calc-buttons">
                        <div class="row">
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go('ac');">AC</button>
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go('log');">log</button>
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go('sin');">sin</button>
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go('tan');">tan</button>
                        </div>
                        <div class="row">
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go(7);">7</button>
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go(8);">8</button>
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go(9);">9</button>
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go(' * ');">*</button>
                        </div>
                        <div class="row">
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go(4);">4</button>
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go(5);">5</button>
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go(6);">6</button>
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go(' - ');">-</button>
                        </div>
                        <div class="row">
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go(1);">1</button>
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go(2);">2</button>
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go(3);">3</button>
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go(' + ');">+</button>
                        </div>
                        <div class="row">
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go(0);">0</button>
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go('.');">.</button>
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go('eval');">=</button>
                            <button class="btn btn-lg btn-default col-xs-3" onClick="go(' / ');">/</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts_page %}<script src="{% static 'js/lab_6_test.js' %}"></script>{% endblock %}