{% extends "base.html" %}
{% load staticfiles %}
{% block meta %}
    <meta name="description" content="LAB 8">
    <meta name="author" content="Ichlasul Affan">
{% endblock %}
{% block title %} Lab 8 {% endblock %}
{% block stylescript_app %}<link rel="stylesheet" type="text/css" href="{% static 'css/lab_8.css' %}">{% endblock %}
{% block header %}{% include "lab_8/partials/header.html" %}{% endblock %}
{% block footer %}{% include "lab_7/partials/footer.html" %}{% endblock %}
{% block scripts_app %}<script type="application/javascript" src="{% static 'js/lab_8.js' %}"></script>{% endblock %}