{% extends "base.html" %}
{% load staticfiles %}
{% block meta %}
    <meta name="description" content="ppw-ichlasulaffan Main Login Page">
    <meta name="author" content="Ichlasul Affan">
{% endblock %}
{% block title %}ppw-ichlasulaffan: Login using CSUI Account{% endblock %}
{% block stylescript_app %}<link rel=stylesheet href="{% static 'css/login.css' %}">{% endblock %}
{% block header %}{% include "login-header.html" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="rata-tengah">
            <div class="judul">
                <h1> Halaman Login </h1>
                <p class="text-info"> Gunakan <b> akun SSO </b> untuk login </p>
            </div>
            <form action="{% url 'auth_login' %}" method="POST">
                {% csrf_token %}
                {% for message in messages %}{% if message.level_tag == "warning" %}
                    <div class="alert alert-warning alert-dismissable text-center">{{message}}</div>
                {% endif %}{% endfor %}
                <p>
                    <label for="username"> Your username </label>
                    <input type="text" id="username" name="username" required>
                </p>
                <p>
                    <label for="password"> Your password </label>
                    <input type="password" id="password" name="password" required>
                </p>
                <input type="submit" id="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    <p class="copyright">{% if user_login %}Currently logged in: {{user_login}}{% else %}&copy; 2017 Ichlasul Affan.{% endif %}</p>
{% endblock %}