{% extends "lab_7/layout/base.html" %}
{% load staticfiles %}
{% block content %}
    <section name="mahasiswa-list" id="mahasiswa-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Mahasiswa Fasilkom</h2>
                    <div class="list-group" id="mhs-list-group">
                        {% if mahasiswa_list %}
                            {% for mahasiswa in mahasiswa_list %}
                                <a class="list-group-item clearfix">
                                    {{ mahasiswa.nama }} ({{ mahasiswa.npm }})
                                    <span class="pull-right">
                                        <span class="btn btn-xs btn-default" onClick="addFriendFromAPI('{{ mahasiswa.nama }}', '{{ mahasiswa.npm }}')">
                                            Tambah sebagai teman
                                        </span>
                                    </span>
                                </a>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-danger text-center">
                                <strong>Oops!</strong> Tidak ada mahasiswa
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <h2> Teman Saya </h2>
                    <div class="list-group" id="friend-list">
                        {% if friend_list %}
                            {% for friend in friend_list %}
                                <a class="list-group-item clearfix">
                                    {{ friend.friend_name }} ({{ friend.npm }})
                                </a>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-danger text-center">
                                <strong>Oops!</strong> Tidak ada teman
                            </div>
                        {% endif %}
                    </div>
                    <form id="add-friend" action="#">
                        {% csrf_token %}
                        <label for="field_npm">npm</label>
                        <input id="field_npm" type="text" name="npm" class="form-control"/>
                        <label for="field_name">name</label>
                        <input id="field_name" type="text" name="name" class="form-control"/>
                        <button type="submit">Tambah</button>
                    </form>
                </div>
            </div>
            <div class="row pagination">
                <a href="#">&laquo;</a>
                <a onclick="changePageMahasiswa(1,2)">1</a>
                <a class="active" href="#">2</a>
                <a onclick="changePageMahasiswa(3,2)">3</a>
                <a onclick="changePageMahasiswa(4,2)">4</a>
                <a onclick="changePageMahasiswa(5,2)">5</a>
                <a onclick="changePageMahasiswa(6,2)">6</a>
                <a onclick="#">&raquo;</a>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts_page %}
    <script>
        var addFriend = function(nama, npm) {
            $.ajax({
                method: "POST",
                url: '{% url "lab-7:add-friend" %}',
                data: { name: nama, npm: npm},
                success : function (friend) {
                    friend = JSON.parse(friend);
                    html = '<a class="list-group-item clearfix">' +
                        friend.friend_name + ' (' + friend.npm +
                        ')</a>';
                    $("#friend-list").append(html);
                },
                error : function (error) {
                    alert("Mahasiswa tersebut sudah ditambahkan sebagai teman")
                }
            });
        };

        var validateNpm = function(npm) {
            var isTaken = false;
            $.ajax({
                method: "POST",
                url: '{% url "lab-7:validate-npm" %}',
                data: {
                    'npm': npm
                },
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) alert("Mahasiswa dengan NPM seperti ini sudah ada");
                    isTaken = data.is_taken;
                }
            });
            return isTaken;
        }

        var addFriendFromAPI = function(nama, npm) {
            validator = validateNpm(npm);
            if (!validator) addFriend(nama, npm);
        }

        var changePageMahasiswa = function(page, from) {
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:index" %}',
                data: {"page":page,"from":from},
                success : function (friendList) {
                    friendList = JSON.parse(friendList);
                    $("#mhs-list-group").empty();
                    for (i=0; i<friendList.length; i++) {
                        html = '<a class="list-group-item clearfix">' +
                                friendList[i].nama + ' (' + friendList[i].npm +
                                ')<span class="pull-right"><span class="btn ' +
                                'btn-xs btn-default" onClick="addFriendFromAPI("' +
                                friendList[i].nama + '", "' + friendList[i].npm + '")">' +
                                'Tambah sebagai teman </span></span></a>';
                        $("#mhs-list-group").append(html);
                    }

                },
                error : function (error) {
                    alert("ID page tidak ditemukan.")
                }
            });
        }

        var changePageFriend = function(page, per) {

        }

        $("#add-friend").on("submit", function () {
            name = $("#field_name").val()
            npm = $("#field_npm").val()
            isTaken = validateNpm(npm);

            if (!isTaken) addFriend(name, npm);
            else {
                $("#field_name").val("");
                $("#field_npm").val("");
            }
            event.preventDefault();
        });

        $("#field_npm").change(function () {
            npm = $(this).val();
            validateNpm(npm);
        });
    </script>
{% endblock %}