{% extends "lab_7/layout/base.html" %}
{% load staticfiles %}
{% block content %}
    <section name="mahasiswa-list" id="mahasiswa-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2 style="float:left">Students of Fasilkom UI</h2>
                    <div class="pagination" style="float:right">
                        <a id="to-prev">&laquo;</a>
                        <a id="counter"></a>
                        <a id="to-next">&raquo;</a>
                    </div>
                    <br style="clear:both;" />
                    <div class="list-group" id="mhs-list-group">
                        {% if mahasiswa_list %}
                            {% for mahasiswa in mahasiswa_list %}
                                <a class="list-group-item clearfix">
                                    {{ mahasiswa.nama }} ({{ mahasiswa.npm }})
                                    <span class="pull-right">
                                        <span class="btn btn-xs btn-default" onClick="addFriendFromAPI('{{ mahasiswa.nama }}', '{{ mahasiswa.npm }}')">
                                            Add as Friend
                                        </span>
                                    </span>
                                </a>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-danger text-center">
                                <strong>Oops!</strong> No students available.
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <h2> My Last 50 Friends </h2>
                    <div class="list-group" id="friend-list">
                        {% if friend_list %}
                            {% for friend in friend_list %}
                                <a class="list-group-item clearfix" href='{% url "lab-7:friend-detail" %}?npm={{friend.npm}}'>
                                    {{ friend.friend_name }} ({{ friend.npm }})
                                </a>
                            {% endfor %}
                        {% else %}
                            <div id="error-nofriend" class="alert alert-danger text-center">
                                <strong>Oops!</strong> You have no friends here.
                            </div>
                        {% endif %}
                    </div>
                    <form id="add-friend" action="#">
                        {% csrf_token %}
                        <label for="field_npm">npm</label>
                        <input id="field_npm" type="text" name="npm" class="form-control" required/>
                        <label for="field_name">name</label>
                        <input id="field_name" type="text" name="name" class="form-control" required/>
                        <button class="btn btn-xs btn-default" style="margin:10px 0" type="submit">Tambah</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts_page %}
    <script>
        var friendCount = {{friend_count}};
        var pageCount = Math.ceil({{mhs_count}}/100);
        var currentPage = {{page}};

        var addFriend = function(nama, npm) {
            $.ajax({
                method: "POST",
                url: '{% url "lab-7:add-friend" %}',
                data: { name: nama, npm: npm},
                success : function (friend) {
                    $("#error-nofriend").remove();
                    if (friendCount >= 50) $("#friend-list").find(':first-child').remove();
                    friend = JSON.parse(friend);
                    html = '<a class="list-group-item clearfix"' +
                        'href=\'{% url "lab-7:friend-detail" %}?npm=' + friend.npm + '\'>' +
                        friend.friend_name + ' (' + friend.npm + ')</a>';
                    $("#friend-list").append(html);
                    friendCount++;
                },
                error : function (error) {
                    alert("Ada kesalahan pada server.")
                }
            });
        };

        var validateNpm = function(npm) {
            var isTaken = false;
            $.ajax({
                method: "POST",
                url: '{% url "lab-7:validate-npm" %}',
                data: {
                    'npm': npm
                },
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) alert("Mahasiswa dengan NPM seperti ini sudah ada dalam daftar teman milikmu.");
                    isTaken = data.is_taken;
                }
            });
            return isTaken;
        }

        var addFriendFromAPI = function(nama, npm) {
            validator = validateNpm(npm);
            if (!validator) addFriend(nama, npm);
        }

        var changePageMahasiswa = function(page, from) {
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:index" %}',
                data: {"page":page,"from":from},
                success : function (friendList) {
                    friendList = JSON.parse(friendList);
                    $("#mhs-list-group").empty();
                    for (i=0; i<friendList.length; i++) {
                        html = '<a class="list-group-item clearfix"' +
                                'href=\'{% url "lab-7:friend-detail" %}?npm=' + friendList[i].npm + '\'>' +
                                friendList[i].nama + ' (' + friendList[i].npm +
                                ')<span class="pull-right"><span class="btn ' +
                                'btn-xs btn-default" onClick=\'addFriendFromAPI("' +
                                friendList[i].nama + '", "' + friendList[i].npm + '")\'>' +
                                'Tambah sebagai teman </span></span></a>';
                        $("#mhs-list-group").append(html);
                    }

                    currentPage = page;
                    history.pushState("", "", '{% url "lab-7:index" %}?page='+page);
                    $("#counter").html(currentPage+" of "+pageCount);
                }
            });
        }

        $(document).ready(function() {$("#counter").html(currentPage+" of "+pageCount)});

        $("#add-friend").on("submit", function () {
            name = $("#field_name").val()
            npm = $("#field_npm").val()
            isTaken = validateNpm(npm);

            if (!isTaken) addFriend(name, npm);
            else {
                $("#field_name").val("");
                $("#field_npm").val("");
            }
            event.preventDefault();
        });

        $("#field_npm").change(function () {
            npm = $(this).val();
            validateNpm(npm);
        });

        $("#to-next").click(function(e) {
            if (currentPage < pageCount) changePageMahasiswa(currentPage+1, "nav");
        });

        $("#to-prev").click(function(e) {
            if (currentPage > 1) changePageMahasiswa(currentPage-1, "nav");
        });
    </script>
{% endblock %}