{% extends "base.html" %}
{% load staticfiles %}
{% block meta %}
    <meta name="description" content="LAB 7">
    <meta name="author" content="Ichlasul Affan">
{% endblock %}
{% block title %} Lab 7 {% endblock %}
{% block stylescript %}
    <link href="{% static 'css/bootstrap-3.3.7.min.css' %}" rel="stylesheet">
{% endblock %}
{% block stylescript_app %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab_7.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
{% endblock %}
{% block header %}{% include "lab_7/partials/header.html" %}{% endblock %}
{% block footer %}{% include "lab_7/partials/footer.html" %}{% endblock %}
{% block scripts %}
    <script type="application/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/bootstrap-3.3.7.min.js' %}"></script>
{% endblock %}